@use '@/assets/styles/functions.scss' as f;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
// VARIABLES

// / Colors:
// // Neutrals:
$white: 0 0% 100%;
$black: 0 0% 0%;

$yellow: 52, 81%, 73%;

$gold: 41, 95%, 58%;
$dark-gold: 52, 30%, 42%;

$light-blue: 204, 73%, 77%;
$blue: 205, 55%, 43%;
$dark-blue: 211, 74%, 20%;

// TYPOGRAPHY

$font-1: (
  font-size: f.rem(56),
  font-weight: 800,
  line-height: 1,
  letter-spacing: 0.1em,
);

$font-1-5: (
  font-size: f.rem(48),
  font-weight: 800,
  line-height: 1,
  letter-spacing: 0.1em,
);

$font-2: (
  font-size: f.rem(40),
  font-weight: 800,
  line-height: 1,
  letter-spacing: 0.1em,
);

$font-2-5: (
  font-size: f.rem(32),
  font-weight: 800,
  line-height: 1,
  letter-spacing: 0.1em,
);

$font-3: (
  font-size: f.rem(24),
  font-weight: 800,
  line-height: 1,
  letter-spacing: 0.1em,
);

$font-4: (
  font-size: f.rem(20),
  font-weight: 800,
  line-height: 1,
  letter-spacing: 0.1em,
);

$font-5: (
  font-size: f.rem(16),
  font-weight: 800,
  line-height: 1,
  letter-spacing: 0.1em,
);

$font-6: (
  font-size: f.rem(12),
  font-weight: 800,
  line-height: 1,
  letter-spacing: 0.1em,
);

$font-7: (
  font-size: f.rem(8),
  font-weight: 800,
  line-height: 1,
  letter-spacing: 0.1em,
);

$font-8: (
  font-size: f.rem(6),
  font-weight: 800,
  line-height: 1,
  letter-spacing: 0.1em,
);

// Spacing:

$spacing-0100: f.em(8);
$spacing-0200: f.em(16);
$spacing-0300: f.em(24);
$spacing-0500: f.em(40);
